@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;500;600;700&display=swap');

:root{
    --background:rgba(0,214,170,.85)
}


*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    place-items: center;
    
}

.content{
    height: 200vh;
}



header{
    background-color: var(--background);
    text-align: center;
    position: fixed;/*fixed ayni zamanda relative lik de katiyor*/
    width: 100%;
    z-index: 999;
}

.logo{
    margin: 5px;
}

nav{
    position: absolute;
    text-align: left;
    background-color: gray;
    top: 100%;/*Topdan X % kadar uzaktayim,bu yuzdelik relati olan parentime baglidir*/
    left:0%;
    background:red;
    width: 100%;
    display: none;
}
/* Nav'in ul'sini ayarliyoruz */
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: black;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
    text-transform: uppercase;
}


.nav-toggle:checked ~ nav{
    display: block;
}

.nav-toggle{
    display: none;
}
/*Burdaki 100% yapip flex deyip ortalama yapmak cok jix*/
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;  /*Boyunu 100% di headerin fixed(relative) olmasi onemli display:flex ardindan align items center ile centerlendi*/
    display: flex; /*Position absulte oldugu icin headerin center ozelligi calismayacaktir*/
    align-items: center;
    
}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
 {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    
}

.nav-toggle-label span::before,
.nav-toggle-label span:after{
    content: ' ';
    display: absolute;
}

.nav-toggle-label span::before{
  
   bottom: 10px;
}

.nav-toggle-label span::after{
    top: 9px;
}

.nav-toggle-label-right{
    position: absolute;
    right: 0;
    top:0;
    height:100%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav-toggle-label-right span,
.nav-toggle-label-right span::before,
.nav-toggle-label-right span::after
{
    background-color: white;
    width: 2em;
    height: 2px;
    display: block;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label-right span::before,
.nav-toggle-label-right span::after{
    content: '';
    position: absolute;
}
.nav-toggle-label-right span::before{
    top:10px;
}

.nav-toggle-label-right span::after{
    bottom:9px;
}