@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root{
    --background:rgba(30, 120, 160, 1)
}


*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    place-items: center;
    
}

.content{
    height: 200vh;
}



header{
    background-color: var(--background);
    text-align: center;
    position: fixed;/*fixed ayni zamanda relative lik de katiyor*/
    width: 100%;
    z-index: 999;
}

.logo{
    margin: 5px;
    color: white;
}

nav{
    position: absolute;
    text-align: left;
    background-color: gray;
    top: 100%;/*Topdan X % kadar uzaktayim,bu yuzdelik relati olan parentime baglidir*/
    left:0%;
    background:var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 0.5s;
}
/* Nav'in ul'sini ayarliyoruz */
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

nav a:hover{
    color: black;
    font-weight: bold;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
    text-transform: uppercase;
}

.nav-toggle:checked ~ nav{
     transform: scale(1,1);
}

.nav-toggle:checked ~ nav .home-link{
    opacity: 1;
    transition: opacity 250ms ease-in-out 200ms;
}
.nav-toggle:checked ~ nav .about-link{
    opacity: 1;
    transition: opacity 250ms ease-in-out 300ms;
}
.nav-toggle:checked ~ nav .blog-link{
    opacity: 1;
    transition: opacity 250ms ease-in-out 400ms;
}
.nav-toggle:checked ~ nav .contact-link{
    opacity: 1;
    transition: opacity 250ms ease-in-out 500ms;
}

.nav-toggle{
    display: none;
}
/*Burdaki 100% yapip flex deyip ortalama yapmak cok jix*/
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;  /*Boyunu 100% di headerin fixed(relative) olmasi onemli display:flex ardindan align items center ile centerlendi*/
    display: flex; /*Position absulte oldugu icin headerin center ozelligi calismayacaktir*/
    align-items: center;
    
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
 {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    
}

.nav-toggle-label span::before,
.nav-toggle-label span:after{
    content: ' ';
    display: absolute;
}

.nav-toggle-label span::before{
  
   bottom: 10px;
}

.nav-toggle-label span::after{
    top: 9px;
}

@media screen and (min-width:800px){
   /* .nav-toggle-label{
    display: none;
   }

   header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px,1fr) 1fr;
   }



   nav{
    display: none;
   } */
}